.footer{
    background-color: #9C010A;
    color:  #FFE9ED;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    /* position:absolute;
    bottom:0; */
}
.subcribe{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    padding: 10px;
    margin-top: 0px;
}
input, button{
    padding:10px;
    border-style: none;
}
button{
    background-color: #FFE9ED;
    padding: 10px;
    color: #9C010A;
} .socials{
    display: flex;
    font-size: 20px;
} 
.fa{
    margin-right: 5px;
}
.contact{
} 
@media screen and (max-width: 900px) {

    .contact{
        width: 80%;
        margin: 0 auto;

    } 
    .socials{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    } 
    .footer{
        align-content: center;
    }
    .footer h2{
        font-size: 15px;
        font-style: bold important;
    }
}